# Operations on Numbers

# [3 Integers and Floats - Working with Numeric Data by Corey Schafer](https://www.youtube.com/watch?v=khKv-8q7YmY&index=3&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU)

<a href="#type">type</a>

<a href="#사칙연산">사칙연산</a>

<a href="#몫과-나머지">몫과 나머지</a>

<a href="#지수와-제곱근">지수와 제곱근</a>

<a href="#log-and-exponential">log and exponential</a>

<a href="#trigonometric-functions">trigonometric functions</a>

<a href="#abs">abs</a>

<a href="#special-constants">special constants</a>

<a href="#round,-floor,-ceil">round, floor, ceil</a>

<a href="#float-to-int,-vice-versa">float to int, vice versa</a>

<a href="#축약된-코딩">축약된 코딩</a>

<a href="#Order-of-Math-Operations">Order of Math Operations</a>

<a href="#Boolean-with-Number-Comparison">Boolean with Number Comparison</a>

<a href="#String-Which-Looks-like-Number">String Which Looks like Number</a>

In [1]:
import numpy as np

# type

In [2]:
num = 3
type(num)

int

In [3]:
num = 3.14
type(num)

float

In [4]:
num = '3.14'
type(num)

str

[<a href="#Operations-on-Numbers">Back to top</a>]

# 사칙연산

In [5]:
print(3 + 2)
print(3 - 2)   
print(3 * 2)   
print(3 / 2)

5
1
6
1.5

[<a href="#Operations-on-Numbers">Back to top</a>]

# 몫과 나머지

In [6]:
print(3 // 2) 
print(3 %  2)

1
1

In [7]:
for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

[<a href="#Operations-on-Numbers">Back to top</a>]

# 지수와 제곱근

In [8]:
print(2 ** 3)
print(np.sqrt(2))

8
1.4142135623730951

[<a href="#Operations-on-Numbers">Back to top</a>]

# log and exponential

In [9]:
a = 2.718281828459046
b = 1.

In [10]:
print(np.log(a))
print(np.exp(b))

1.0000000000000002
2.718281828459045

[<a href="#Operations-on-Numbers">Back to top</a>]

# trigonometric functions

In [11]:
a = np.pi

In [12]:
print(np.sin(a))
print(np.cos(a))
print(np.tan(a))

1.2246467991473532e-16
-1.0
-1.2246467991473532e-16

[<a href="#Operations-on-Numbers">Back to top</a>]

# abs

In [13]:
print(np.abs(-3))
print(np.abs(3))

3
3

[<a href="#Operations-on-Numbers">Back to top</a>]

# special constants

In [14]:
print(np.pi)
print(np.e)

3.141592653589793
2.718281828459045

[<a href="#Operations-on-Numbers">Back to top</a>]

# round, floor, ceil

In [15]:
print(np.round(3.14))
print(np.round(3.64))

3.0
4.0

In [16]:
print(np.floor(3.14))
print(np.floor(3.64))

3.0
3.0

In [17]:
print(np.ceil(3.14))
print(np.ceil(3.64))

4.0
4.0

In [18]:
print(np.round(3.678678, 2))

3.68

[<a href="#Operations-on-Numbers">Back to top</a>]

# float to int, vice versa

In [19]:
print(float(8))
print(int(8.7))

8.0
8

[<a href="#Operations-on-Numbers">Back to top</a>]

# 축약된 코딩

> `a = a + 2` can be shorten to `a += 2`

> `a = a - 2` can be shorten to `a -= 2`

> `a = a * 2` can be shorten to `a *= 2`

> `a = a / 2` can be shorten to `a /= 2`

In [20]:
a = 3
a += 2
print(a)

5

In [21]:
a = 3
a -= 2
print(a)

1

In [22]:
a = 3
a *= 2
print(a)

6

In [23]:
a = 3
a /= 2
print(a)

1.5

[<a href="#Operations-on-Numbers">Back to top</a>]

# Order of Math Operations

> 1 Parentheses

> 2 Exponents

> 3 Multiplication and Division (from left to right)

> 4 Addition and Subtraction (from left to right)

In [24]:
2 * 3 + 1

7

In [25]:
1 + 2 * 3

7

In [26]:
1 + 2 * 3 / 5.

2.2

In [27]:
1 + 2 * 3 / 5 ** 2

1.24

[<a href="#Operations-on-Numbers">Back to top</a>]

# Boolean with Number Comparison

> Equal:            3 == 2

> Not Equal:        3 != 2

> Greater Than:     3 > 2

> Less Than:        3 < 2

> Greater or Equal: 3 >= 2

> Less or Equal:    3 <= 2

In [28]:
n1 = 2
n2 = 3

In [29]:
print(n1 == n2)
print(n1 != n2)
print(n1 > n2)
print(n1 < n2)
print(n1 >= n2)
print(n1 <= n2)

False
True
False
True
False
True

[<a href="#Operations-on-Numbers">Back to top</a>]

# String Which Looks like Number

The below is the string concatanation, not the number addition.

In [30]:
num_1 = '100'
num_2 = '200'
print(num_1 + num_2)

100200

숫자 더하기를 하려면 어떻게 해야 할까요?

In [31]:
num_1 = '100'
num_2 = '200'
print(int(num_1) + int(num_2))

300

[<a href="#Operations-on-Numbers">Back to top</a>]