# Sorting Lists, Tuples, and Objects

[Sorting Lists, Tuples, and Objects by Corey Schafer](https://www.youtube.com/watch?v=D3JvDWO-BY4&index=20&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU)

# UFunction sorted

In [1]:
my_list = [9, 1, 8, 2, 7, 3, 6, 4, 5]
my_list_sorted = sorted(my_list)
my_list_sorted

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
my_tuple = (9, 1, 8, 2, 7, 3, 6, 4, 5)
my_tuple_sorted = sorted(my_tuple)
my_tuple_sorted

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
my_dictionary = {'name': 'Jake', 'job': 'Programming', 'age': None, 'os': 'Mac'}
my_dictionary_sorted = sorted(my_dictionary)
my_dictionary_sorted

['age', 'job', 'name', 'os']

# List Method sort

In [4]:
my_list = [9, 1, 8, 2, 7, 3, 6, 4, 5]
my_list.sort()
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# my_tuple = (9, 1, 8, 2, 7, 3, 6, 4, 5)
# my_tuple.sort()
# my_tuple

# AttributeError: 'tuple' object has no attribute 'sort'

In [6]:
# my_dictionary = {'name': 'Jake', 'job': 'Programming', 'age': None, 'os': 'Mac'}
# my_dictionary.sort()
# my_dictionary

# AttributeError: 'dict' object has no attribute 'sort'

List Method sort는 리스트 자체를 inplace로 소트합니다.
inplace로 소트한다는 표시로 None을 return합니다.

In [7]:
my_list = [9, 1, 8, 2, 7, 3, 6, 4, 5]
my_list_sorted = my_list.sort() 
print(my_list_sorted)

None

리스트 자체는 이미 소트되었습니다.

In [8]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

역순으로 소트하려면, reverse=True를 이용하면 됩니다.

In [9]:
my_list = [9, 1, 8, 2, 7, 3, 6, 4, 5]
my_list.sort(reverse=True)
my_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

절대값 함수를 적용시켜서 나오는 순서를 이용 소트하려면, key=abs를 이용하면 됩니다.

In [10]:
my_list = [9, -1, 8, 2, -7, 3, -6, 4, -5]
my_list.sort(key=abs)
my_list

[-1, 2, 3, 4, -5, -6, -7, 8, 9]

# Sorting Example using Class

In [11]:
class Employee():
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary

    def __repr__(self):
        return '({}, {}, ${})'.format(self.name, self.age, self.salary)

In [12]:
e1 = Employee('Carl', 37, 70000)
e2 = Employee('Sarah', 29, 80000)
e3 = Employee('John', 43, 90000)

In [13]:
employees = [e1, e2, e3]

##### 이름으로 소팅하기

In [14]:
def e_sort(emp):
    return emp.name

In [15]:
employees_sorted = sorted(employees, key=e_sort)
employees_sorted

[(Carl, 37, $70000), (John, 43, $90000), (Sarah, 29, $80000)]

In [16]:
employees.sort(key=e_sort)
employees

[(Carl, 37, $70000), (John, 43, $90000), (Sarah, 29, $80000)]

##### 나이로 소팅하기

In [17]:
def e_sort(emp):
    return emp.age

In [18]:
employees_sorted = sorted(employees, key=e_sort)
employees_sorted

[(Sarah, 29, $80000), (Carl, 37, $70000), (John, 43, $90000)]

In [19]:
employees.sort(key=e_sort)
employees

[(Sarah, 29, $80000), (Carl, 37, $70000), (John, 43, $90000)]

##### 월급으로 소팅하기

In [20]:
def e_sort(emp):
    return emp.salary

In [21]:
employees_sorted = sorted(employees, key=e_sort)
employees_sorted

[(Carl, 37, $70000), (Sarah, 29, $80000), (John, 43, $90000)]

In [22]:
employees.sort(key=e_sort)
employees

[(Carl, 37, $70000), (Sarah, 29, $80000), (John, 43, $90000)]

##### 월급으로 reverse 소팅하기

In [23]:
def e_sort(emp):
    return emp.salary

In [24]:
employees_sorted = sorted(employees, key=e_sort)
employees_sorted

[(Carl, 37, $70000), (Sarah, 29, $80000), (John, 43, $90000)]

In [25]:
employees.sort(key=e_sort, reverse=True)
employees

[(John, 43, $90000), (Sarah, 29, $80000), (Carl, 37, $70000)]

##### key에 들어가는 함수로 lambda 함수를 이용, 소팅하기

In [26]:
employees_sorted = sorted(employees, key=lambda e: e.salary, reverse=True)
print(employees_sorted)

[(John, 43, $90000), (Sarah, 29, $80000), (Carl, 37, $70000)]

In [27]:
employees.sort(key=lambda e: e.salary, reverse=True)
employees

[(John, 43, $90000), (Sarah, 29, $80000), (Carl, 37, $70000)]

##### attribute를 선택하는 함수 ```from operator import attrgetter```를 이용, 소팅하기

In [28]:
from operator import attrgetter

In [29]:
employees_sorted = sorted(employees, key=attrgetter('salary'), reverse=True)
print(employees_sorted)

[(John, 43, $90000), (Sarah, 29, $80000), (Carl, 37, $70000)]

In [30]:
employees.sort(key=attrgetter('salary'), reverse=True)
employees

[(John, 43, $90000), (Sarah, 29, $80000), (Carl, 37, $70000)]